@media (max-width: 991px) {

    .container {
        padding: 0 180px;
    }

    .menu .menu_wrapper ul li a {
        font-size: 14px;
    }

    .promo .promo_logo {
        font-size: 30px;
    }

    .promo .promo_main {
        font-size: 14px;
    }

    .promo .promo_language {
        font-size: 14px;
    }

    .programs_icons {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;

    }

    .programs_wrap1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 30px;

    }

    .portfolio {
        min-height: 500px;
    }

}


@media (max-width: 767px) {
    header .menu {
        display: none;
    }

    .container {
        padding: 0 70px;
    }

    .menu .menu_wrapper ul li a {
        font-size: 10px;
    }

    .promo .promo_logo {
        font-size: 20px;
    }

    .promo .promo_main {
        font-size: 10px;
    }

    .promo .promo_language {
        font-size: 10px;
    }

    .programs .programs_icons {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 575px) {
    nav {
        display: inline-block;
    }

    .menu {
        display: none;
    }

    .container {
        padding: 0 28px;
    }

    .promo_screen {
        display: none;
    }

    .mobile_img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .programs_subheader {
        display: none;
    }

    .program_ps,
    .program_ai,
    .program_ae {
        margin-bottom: 83px;
    }

    .program_fig {
        margin-bottom: 104px;
    }

    .portfolio_descr {
        font-size: 18px;
        color: #000000;
        font-weight: 500;
    }

    footer .social_media {
        padding-left: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .promo_language {
        display: none;
    }

    .promo_wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .promo_wrapper .promo_logo {
        font-size: 47px;
    }

    .promo_wrapper .promo_main {
        font-size: 18px;
        padding-top: 23px;
    }

    .promo_mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: tomato;
    }


    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }


    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        left: 400px;
        top: 35px;
        background: #000000;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle input {
        left: 390px;
        top: 30px;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }


    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }


    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {

        position: absolute;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 84px;
        min-width: 420px;
        min-height: 1000px;
        background: #ffffff;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 34px;
        padding-bottom: 68px;
        color: #828282;
        font-weight: bold;
    }

    #menu li:hover {
        color: #090909;
    }

    #language_menu li {
        transform: rotate(-90deg);
        color: #090909;
    }

    #language_menu {
        position: absolute;
        z-index: 3;
        left: 73.2%;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }

}